body{
	font-size: 0px;
	height: 100vh;
	width: 100vw;
	border: 0px;
	margin: 0px;
	padding: 0px;
	outline: 0px;
	background-color: white;
}
.t-box{
	height: 80px;
	width: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.t-box-right{
	position: relative;
	height: 80px;
	width: 40px;
	overflow: hidden;
	opacity: 0;
	font-size: 10px;
	transform: translate(40px, 0px);
}
.t-box-right:after {
	content: '';
	position: absolute;
	width: 57px;
	height: 57px;
	background-color: #D587A1;
	transform: rotate(45deg)translateX(29%);
}
.t-box-left{
	position: relative;
	height: 80px;
	width: 40px;
	overflow: hidden;
	opacity: 0;
	transform: rotate(180deg);
}
.t-box-left:before {
	content: '';
	position: absolute;
	width: 57px;
	height: 57px;
	background-color: #A5B6E4;
	transform: rotate(45deg)translateX(29%);
}
.t-box-top{
	position: relative;
	height: 80px;
	width: 40px;
	overflow: hidden;
	opacity: 0;
	font-size: 10px;
	transform: rotate(-90deg)translate(20px, 20px);
}
.t-box-top:after {
	content: '';
	position: absolute;
	width: 57px;
	height: 57px;
	background-color: #B6E69C;
	transform: rotate(45deg)translateX(29%);
}
.t-box-bottom{
	position: relative;
	height: 80px;
	width: 40px;
	overflow: hidden;
	opacity: 0;
	font-size: 10px;
	transform: rotate(90deg)translate(20px, -20px);
}
.t-box-bottom:after {
	content: '';
	position: absolute;
	width: 57px;
	height: 57px;
	background-color: #FBE3AE;
	transform: rotate(45deg)translateX(29%);
}
.full-box{
	height: 80px;
	width: 80px;
	float: left;
	opacity: 0;
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: 'Open Sans';
	font-weight: bolder;
}
.holder-row{
	height: 80px;
}
.holder-box{
	position: relative;
	height: 400px;
	width: 400px;
	text-align: left;
	display: block;
	left: 50%;
	background-color: transparent;
	top: 50%;
	transform: translate(-50%, -50%);
}
.box-2{
	background-color: #B6E69C; /*green*/
}

.box-1{
	background-color: #F6CBE0; /*pink*/
}

.box-3{
	background-color: #F3B4A2; /*dark orange*/
}

.box-4{
	background-color: #D587A1; /*purple */
}

.box-6{
	background-color: #FBE3AE; /*yellow*/
}

.box-5{
	background-color: #BACEF8; /*light blue*/
}

.box-7{
	background-color: #F6C8B1; /*light orange */
}

.box-8{
	background-color: #A5B6E4; /*dark blue */
}
.box-highlight{
	opacity: 0;
}
.title-box{
	width: 240px;
	height: 240px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.letter-box{
	width: 80px;
	height: 80px;
	font-family: 'Open Sans';
	text-align: center;
	display: inline-block;
	font-size: 45px;
	line-height: 80px;
	color: white;
	opacity: 1;
	font-weight: bolder;
}
.hidden{
	opacity: 0;
}
.filler{
	visibility: hidden;
}
.play{
	content: '►';
	animation: pulse 1s ease infinite;
	background: rgba(0, 0, 0, 0.2);
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: 'Open Sans';
	font-size: 30px;
	font-weight: bolder;
	height: 80px;
	line-height: 80px;
	opacity: 0;
	position: absolute;
	text-align: center;
	width: 80px;
	left: 50%;
	top: 50%;
}
.play:hover{
	content: 'Play!';
	animation: none;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.3);
}

@keyframes pulse {
  0% { transform: translate(-50%, -50%) scale(0.95) ; }
  50% { transform: translate(-50%, -50%) scale(1); }
  100% { transform: translate(-50%, -50%) scale(0.95); }
}

/*ROUND 1*/
.square{
	height: 240px;
	width: 240px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	filter: saturate(120%);
}
.triangle:hover {
	opacity: 0.2;
}
.tri-left{
	fill: #A5B6E4;
}
.tri-left:hover{
}
.tri-top{
	fill: #B6E69C;
}
.tri-top:hover{
}
.tri-right{
	fill: #D587A1;
}
.tri-right:hover{
	
}
.tri-bottom{
	fill: #FBE3AE;
}
.tri-bottom:hover{
}
svg {
  height: 100%;
  width: 100%;
}
polygon {
	stroke-linejoin: round;
}
.grow{
	animation: grow 2s ease;
}
.shrink{
	animation: shrink 3s ease;
}
@keyframes grow {
  0% 	{ transform: translate(-50%, -50%)scale(0.33333);}
  100% 	{ transform: translate(-50%, -50%)scale(1);}
}
@keyframes shrink {
  0% 	{ transform: translate(-50%, -50%)scale(1);}
  100% 	{ transform: translate(-50%, -50%)scale(0.33333);}
}
